html{
  height: 100%;
}

#bodybackground {
  background-image: url("../images/crow.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgb(187, 186, 186);
  background-blend-mode: darken;

}

footer {
  grid-area: Footer;
  background: black;
  margin-top: auto;
}

.navbar {
  background-color: black;
  border-color: rgb(54, 54, 54);
}

#rowpicture {
  max-height: 15em;
}

.col-sm-4 {
  text-align: center;
}

#row1 {
  background: rgba(48, 10, 10, 0.534);
}

.paragraphs {
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Oswald", sans-serif !important;
  display: grid;
  min-height: 100%;
  grid-template-areas: 'Nav'
                       'Main'
                       'Footer';
}

.signupLink {
  color: white;
  text-decoration: none;
}

.carousel-item {
  height: 10rem;
  max-width: 100vw;
  background-size: cover;
  border-radius: 3em;
  background-repeat: no-repeat;
}

.carouselimage1 {
  background-image: url("../images/guitar.jpg");
}
.carouselimage2 {
  background-image: url("../images/microphone2.jpg");
}
.carouselimage3 {
  background-image: url("../images/booking.jpg");
}

.carouselLink {
  text-decoration: none;
  color: white;
}

#signupBtn {
  background: black;
  color: white;
}

main {
  grid-area: Main;
}

#Nav{
  grid-area:Nav;
}
.mp-0{
  margin:0;
  padding:0;
}